header{
    margin: 5px;
    border: beige 5px solid;
    background-color: azure;
    text-align: center;

}

#allStudentsContainer{
    margin: 5px;
    background-color: azure;
    text-align: center;
}

table{

}

td{

}