<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<nav class="navbar navbar-default" th:fragment="mainNavbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Super System</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/index.html">Home</a></li>
            <li><a href="/allUsersPage">Studenci</a></li>
            <li><a href="/allCoursesPage">Kursy</a></li>
        </ul>
    </div>
</nav>

<footer class="card-footer text-center" th:fragment="mainFooter">
    <div>
        <a href="http://facebook.com">FACEBOOK</a>
        <a href="http://facebook.com">Tweeter</a>
        <span>Copyright by TB</span>
    </div>
</footer>